html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
}


canvas {
  display: block;
  background-color: rgb(255,255,244);
  height: 100%;
  width: 66vh;
  border-color: black;
  margin: auto;
}
