html,
body {
  margin:0;
    overflow: hidden;
    /*width: 100%;*/
    height: 100%;
    background-color: black;
    /*margin-left: 15%;
    background-color: black;*/
}

/* Scale canvas with resize attribute to full size */
canvas {
    position: absolute;
    top: 50%;
    margin-top: -810px;
    left: 0;
}
