html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas {
    position: absolute;
    top: 50%;
    margin-top: -810px;
    left: 0;
}
